<script src="https://unpkg.com/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  new Darkmode({
    label: '🌓',
    bottom: '64px',
    right: 'unset',
    left: '32px',
    time: '0.3s',
    autoMatchOsTheme: true
  }).showWidget();
</script>
